@import 'variables.scss';

.main {
    h2:nth-child(3){
        color: $photos-color;
        font-size: 20px;
        font-weight: lighter;
        margin-bottom: 25px;

    }
margin-left: 18px;
.top >div {
    margin-top: 20px;
}
    &>div {
        
        
        input {
            border: none;
            
        }
        ::placeholder{
            font-size: $search-font-size;
            color: $search-color;
        }
    }
   
.account {
   margin-right: 20px;
  h2 {
      margin: 0 15px 0 15px;
  }
  margin-bottom: 50px;
}
hr {
   display: inline-block;
    height: 2px;
    width: 98%;
  
  margin-bottom: 5px;
    
}
}