@import 'variables.scss';

section {
    display: flex;
    flex-wrap: wrap;
}

#image {
display: flex;
flex-wrap: wrap;
margin: .5rem;
    margin-left: 18px;
     margin: .5rem;
     .photos {
         display: flex;
         flex-direction: column;
     }
   img {
       margin-right: 10px;
       margin-bottom: 10px;
   }
   p {
    
       font-size: 10px;
   }
}
