.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body {
  background-image: url("../img/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

main {
  width: 687px;
  height: 590px;
  background-color: white;
}

nav {
  height: 600px;
  width: 145px;
  background-color: #444c63;
}

.left .logo > img {
  margin-top: 10px;
}
.left img:nth-child(4) {
  margin-left: 5px;
}
.left .icon {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}
.left .icon img {
  margin-right: 12px;
}
.left .icon a {
  text-decoration: none;
  color: #828dad;
}
.left .icon a:hover {
  color: white;
}
.left .count > img:last-child {
  margin-left: 10px;
}
.left p {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
}

.main {
  margin-left: 18px;
}
.main h2:nth-child(3) {
  color: #5e6c80;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 25px;
}
.main > div {
  margin-left: 15px;
  margin-top: 15px;
}
.main > div input {
  border: none;
}
.main > div ::-webkit-input-placeholder {
  font-size: 14px;
  color: #c9cfde;
}
.main > div ::-moz-placeholder {
  font-size: 14px;
  color: #c9cfde;
}
.main > div :-ms-input-placeholder {
  font-size: 14px;
  color: #c9cfde;
}
.main > div ::-ms-input-placeholder {
  font-size: 14px;
  color: #c9cfde;
}
.main > div ::placeholder {
  font-size: 14px;
  color: #c9cfde;
}
.main .account {
  margin-right: 20px;
  margin-bottom: 50px;
}
.main .account h2 {
  margin: 0 15px 0 15px;
}
.main hr {
  display: inline-block;
  height: 2px;
  width: 90%;
  margin-left: 18px;
}
.main .photos img {
  cursor: pointer;
}
.main .photos p {
  margin-right: 25px;
}
.main .photos p:hover {
  background-color: #444c63;
  color: white;
}

.image {
  margin-left: 18px;
}
.image img {
  margin-right: 10px;
  margin-bottom: 40px;
}