$font-family: 'Open Sans', sans-serif;


$left-background: #444c63;
$left-text-color: #828dad;
$left-count-color:#363e54;
$border-top-color: #f6f7f896;
$search-color: #c9cfde;
$search-font-size: 14px;
$photos-color: #5e6c80;




.flex { display: flex; }
.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }
.direction-column { flex-direction: column; }
.direction-row{flex-direction: row;}